<div class="jumbotron">
  <h1 class="display-3">A powerful CMS!</h1>
  <p class="lead">
    Contento *wants* to be a robust, flexible and extendable open source Content Management System to make it straightforward to create awesome and maintainable websites.
  </p>
  <hr class="my-4" />
  <p>
    It's powered by the great <a href="https://elixir-lang.org">Elixir</a> language and the <a href="http://phoenixframework.org">Phoenix Framework</a>.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/roadmap">Roadmap</a>
  </p>
</div>
