<nav class="navbar navbar-expand-lg navbar-light">
 <div class="container">
   <a class="navbar-brand" href="/">
     <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" />
     <%= website_title(@conn) %>
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
       <li class="nav-item">
         <a class="nav-link" href="https://github.com/contentocms/contento/wiki">Guides</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Community</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Blog</a>
       </li>
     </ul>
     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a class="nav-link" href="https://github.com/contentocms/contento">
           <span class="fa fa-github"></span>
         </a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="https://twitter.com/contentocms">
           <span class="fa fa-twitter"></span>
         </a>
       </li>
     </ul>
   </div>
 </div>
</nav>
