<div class="row">
  <article class="mt-2 col-sm-8">
    <h3 class="simplo-title display-4">
      <span><%= @user.name %></span>
    </h3>
    <div class="mt-4">
      <strong><%= gettext("Email") %> : </strong> <%= @user.email %><br />
      <!-- <strong><%= # gettext("Handle") %>  </strong> <%= # @user.handle %><br /> -->
      <!-- <strong><%= # gettext("Member Since") %>  </strong> <%= # @user.joined_at %><br /> -->
      <strong><%= gettext("Website") %> : </strong> <a href="<%= @user.website %>" target="uweb"><%= @user.website %></a><br />
      <strong><%= gettext("Location") %> : </strong> <%= @user.location %><br /><br />
      <h4><%= gettext("Bio") %></h4> <%= raw(Earmark.as_html!(@user.bio)) %>
    </div>
    <p>
      <small>
        <em>Last Updated <%= Timex.from_now(@user.joined_at) %>.</em>
      </small>
    </p>
  </article>
  <aside class="sidebar col-sm-4 p-1">
    <h3>Blog Posts</h3>
    <ul>
      <%= for p <- @posts do %>
        <li>
          <a href="<%= website_path(@conn, :show_post, p.slug) %>">
            <%= p.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </aside>
</div>
