<%= # render "jumbotron.html" %>
<div class="jumbotron">
  <h1 class="display-3">A powerful CMS!</h1>
  <p class="lead">
    Contento *wants* to be a robust, flexible and extendable open source Content Management System to make it straightforward to create awesome and maintainable websites.
  </p>
  <hr class="my-4" />
  <p>
    It's powered by the great <a href="https://elixir-lang.org">Elixir</a> language and the <a href="http://phoenixframework.org">Phoenix Framework</a>.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://gitlab.com/reubenbrown13/contento_website/-/blob/master/ROADMAP.md">Roadmap</a>
  </p>
</div>
<div class="row">
<article class="mt-2 col-sm-8">
  <h2><%= List.first(@posts.entries).title %></h2>
  <p>
  <%= List.first(@posts.entries).content %>
  </p>
  <p>
    <small>
      <em>Published at <%= List.first(@posts.entries).published_at %> by <a href="/authors/<%= List.first(@posts.entries).author.handle %>"><%= List.first(@posts.entries).author.name %></a>.</em>
    </small>
  </p>
</article>
<aside class="sidebar col-sm-4 p-1">
  <h3>Blog Posts</h3>
  <ul>
    <%= for post <- @posts do %>
      <li>
        <a href="<%= website_path(@conn, :show_post, post.slug) %>">
          <%= post.title %>
        </a>
      </li>
    <% end %>
  </ul>
</aside>
</div>