<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= meta_data(@conn) %>

    <title><%= page_title(@conn) %></title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/contento.css") %>">
  </head>
  <body><%= # render "navbar.html", conn: @conn %>
    <div class="container p-0">
      <nav class="shadow-sm navbar navbar-expand-lg navbar-light bg-light rounded-top">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" />
          <%= website_title(@conn) %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://gitlab.com/reubenbrown13/contento/-/wikis/Home">Guides</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://gitlab.com/reubenbrown13/contento/-/wikis/Home/Community">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog/">Blog</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://gitlab.com/reubenbrown13/contento_website">
                <span class="fa fa-gitlab"></span>
              </a>
            </li>
            <%= # <li class="nav-item"> %>
            <%= #   <a class="nav-link" href="https://twitter.com/contentocms"> %>
            <%= #     <span class="fa fa-twitter"></span> %>
            <%= #   </a> %>
            <%= # </li> %>
          </ul>
        </div>
      </nav>
    </div>


    <div class="container mt-1 p-0">
      <main role="main" class="shadow-sm bg-light pt-1 pl-3 pr-3 pb-0 rounded-bottom">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>
