<div>
  <h2 class="simplo-title display-4">
    <span>Not Found</span>
  </h2>
  <p class="lead">
    Whatever you are looking for isn't here... Why don't you try <a href="/">returning to homepage</a>?
  </p>
</div>
