<div>
  <h2 class="simplo-title display-4">
    <span>{{ post.title }}</span>
  </h2>
  <div class="mt-4">
    {{ post.content }}
  </div>
  <div class="mt-2">
    <p>
      <small>
        <em>Published at {{ post.published_at }} by {{ post.author.name }}.</em>
      </small>
    </p>
  </div>
</div>
