<div>
  <h2 class="simplo-title display-4">
    <span>{{ page.title }}</span>
  </h2>
  <div class="mt-4">
    <h3>Coming Next</h3>
    <div class="card-deck mt-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Themes</h4>
          <p class="card-text">Support multiple themes for greater customization.</p>
          <a href="https://github.com/contentocms/contento/issues/1" class="card-link">Learn More</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Maintenance</h4>
          <p class="card-text">Set the website in "maintenance mode" whenever it's needed, blocking visitors from accessing the website.</p>
          <a href="https://github.com/contentocms/contento/issues/14" class="card-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="card-deck mt-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Blog</h4>
          <p class="card-text">Create blog articles mixing different content types such as text, images, videos or audio.</p>
          <a href="https://github.com/contentocms/contento/issues/6" class="card-link">Learn More</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Pages</h4>
          <p class="card-text">Create pages that can use a custom template provided by the theme.</p>
          <a href="https://github.com/contentocms/contento/issues/7" class="card-link">Learn More</a>
        </div>
      </div>
    </div>
    <div class="card-deck mt-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Markdown Support</h4>
          <p class="card-text">Edit posts, pages and other specific content (such as user's biographies) with Markdown.</p>
          <a href="https://github.com/contentocms/contento/issues/5" class="card-link">Learn More</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Search</h4>
          <p class="card-text">Search through a site's posts, pages and authors.</p>
          <a href="https://github.com/contentocms/contento/issues/15" class="card-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h3>Future</h3>
    <div class="card-deck mt-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Plugins</h4>
          <p class="card-text">Support extending core features with plugins.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Blog Archives</h4>
          <p class="card-text">See and navigate through the blog's archives.</p>
        </div>
      </div>
    </div>
    <div class="card-deck mt-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">RSS Feed</h4>
          <p class="card-text">Enable visitors to read your blog posts through an RSS Reader.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">SEO Tools</h4>
          <p class="card-text">Make use of a set of SEO tools to control and optimize how visitors will see you on search engines.</p>
        </div>
      </div>
    </div>
    <div class="card-deck mt-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Built-in Analytics</h4>
          <p class="card-text">View and analyze your website analytics from within the back-office (this will probably use a third-party service).</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">User Roles</h4>
          <p class="card-text">Assign roles to each user to control what they can manage in the back-office.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <div class="alert alert-info">
      <strong>Note!</strong> This roadmap isn't sorted nor includes all details about what will be implemented. To see a more detailed list of what work will be done, <a href="https://github.com/contentocms/contento/projects/1">check v0.1.0 on Github</a>.
    </div>
  </div>
</div>
